<ion-view view-title="Acerca de esta App" >
  <ion-content>

	    <div class="list">
		  <p style="padding:3%;text-align:justify">
		  	Esta aplicación fue desarrollada con el objetivo de ayudar a mis pequeñas hijas a que se aprendan las tablas de multiplicar de una manera fácil y divertida, la verdad este tema es un poco tedioso y más a esa esas, una edad donde no nos interesa mucho aprender números y ni cosas complicadas, sólo nos interesa divertirnos y pasarla bueno.<br><br>

		  	Yo he escuchado que por medio del juego los niños aprenden más las cosas, yo espero que esto sirva de algo.<br><br>

		  	Las amo mucho mis pequeñas niñas.<br<br>

		  	<img src="img/ionic.png" width="20px"/>
		  	<img src="img/ionic.png" width="20px"/>
		  	<img src="img/ionic.png" width="20px"/>

		  </p>
		</div>

      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>-->

  </ion-content>
</ion-view>
