<ion-view view-title="A jugar!!" ng-init="initGame()"  style="color:#fff;background:url(img/f0.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
  <ion-content>
	    <div class="list">
	      <p style="padding:3% 3%;text-align:center">
	      	Vamos a jugar con la tabla del {{numero1}}, el juego es muy fácil, yo te doy una operación y tu me debes dar el resultado, tienes 3 vidas para pasar el nivel, entendido?
	      </p>
		</div>
		<div class="list" style="padding:0% 3%;text-align:left">
			<img src="img/ionic.png" width="20px"/> {{vidas}} Vidas
		</div>
		<div style="padding:0% 3%">
			<button class="button button-block button-positive" ng-click="jugar()" ng-if="jugando == 0">
			  Empezar Juego
			</button>
		</div>
		<div class="list" style="font-size:3.5em;padding:3%" ng-if="jugando != 0">
			<center>
				<table width="100%">
			  		<tr>
			  			<td style="padding:3%" align="center">{{numero1}}</td>
			  			<td style="padding:3%" align="center"> X </td>
			  			<td style="padding:3%" align="center"> {{numero2}} </td>
			  			<td style="padding:3%" align="center"> = </td>
			  			<td style="padding:3%" align="center"> ? </td>
			  		</tr>
		  		</table>
	  		</center>
	  		<br><br>
			<div ng-repeat="btn in botones">
		  		<button class="button button-block button-positive" ng-click="validar(1,numero1,numero2)" ng-if="btn.real==1">{{btn.res}}</button>
		  		<button class="button button-block button-positive" ng-click="validar(0,numero1,numero2)" ng-if="btn.real==0">{{btn.res}}</button>
			</div>
		</div>
  </ion-content>
</ion-view>